:root{
    --primary: #efefef;
    --secondary: #ff7848;
    --letterbox: 
    #eba890;
}
html, body{
    height: 100vh;
    margin 0;
    background-color: var(--primary);
}

.left-side, .right-side, .extreme-right {
    display: block;
    height: 100vh;
}

.left-side{
    display: inline-block;

    width: 30%;
}

.content {
    display: block;
    background-color: var(--secondary);
    width: 83%;
    height: 100%;
    border-radius: 5px;
    margin: auto;
    max-width: 200px;
}

*{
    box-sizing: border-box;
}

.left-side .content .info-box{
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.info-box h5 {
    display: block;
    margin-bottom: 28px;
    margin-top: -19px;
    font-family: monospace;
    color: var(--letterbox);
}
.minha-image {
    display: block;
    width: 80px;
    margin: -28px auto;
    margin-top: 15px auto;
    margin-top: 10px;
    border-radius: 50%;
}

.info h5 {
    color: var(--secondary);
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 29px;
    justify-content: center;
}

.info h6 {
    display: flex;
    margin: auto;
    margin-top: 23px;
    margin-left: -66px;
    justify-content: center;
    font-style: normal;
    font-weight: bolder;
    font-size: smaller;
    align-items: baseline;
}

.info p {
    display: block;
    margin: auto;
    margin-top: 23px;
    font-style: normal;
    font-size: small;
    margin-left: 33%;
}

/*****************************/
  /******* Right Side **********/
  /*****************************/

  .flex-container {
    display: flex;
    justify-content: space-around;
}
  .right-side {
    display: inline-block;
    width: 30%;
    max-width: 237px;
    height: auto;
    position: absolute;
    top: 113px;
}

.content .right-side .info-box{
    display: inline-block;
    margin-top: auto;
}

.info-box1{
display: inline-block;
background-color: white;
border-radius: 5px;
margin: 8px;
text-align: center;
}

.content-right{
    margin-top: -29px;
}

.info-box1 h5{
color: var(--secondary);
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-top: 10px;
    justify-content: flex-start;
    padding-left: 10px;
}

.info-box1 h6{
    display: flex;
    align-items: flex-start;
    margin: auto;
    margin-top: 10px;
    justify-content: flex-start;
    padding-left: 10px;
    font-size: 0.8em; 
}

.info-box1 p{
display: flex;
margin: auto;
align-items: flex-start;
font-style: normal;
font-size: small;
justify-content: flex-start;
text-align: justify;
padding: 10px;
color: #9c9e9f;
}

.extreme-right {
    /* display: flex; */
    display: inline-block;
    margin-right: 21px;
    position: absolute;
    flex-direction: column;
    width: 30%;
    max-width: 237px;
    height: auto;
    top: 83px;
    right: 5%;
}

.content-extreme-right .info-box2{
    display: inline-block;
    margin-top: auto;
}

.infoooter {
    display: flex;
    justify-content: flex-start;
}

footer h5{
    text-align: left;
    color: var(--secondary);
}

footer .middle{
    display: inline-block;
    justify-content: center;
}