

h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: chocolate;
}

img{
    position: absolute;
    right: 2%;
    width: 200px;
    height: 200px;
}

p{
    max-height: 10px;;

}

