<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Curriculum</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
    <h1>Jonatas de Menezes Bento</h1>
    <img src="/img/jonatas.JPG">

    <p>Brasileiro, casado, 38 anos</p>
    <p>Av. Vice Pres. José Alencar, 1400 – Bl. 1 Ap. 508</p>
    <p>Barra da Tijuca – Rio de Janeiro – RJ</p>
    <p>Telefone: (21) 981807997 / (21) 24162443</p>
    <p>E-mail: pr.jmbento@outlook.com</p>
    </header>
    <main>
        <section>
            <br>
            <h2>OBJETIVO</h2>
            <hr>
            <p>Desenvolvedor Fullstack Junior;</p>
            <br>
            <h2>FORMAÇÃO</h2>
            <hr>
            <li>Graduando em Análise e Desenvolvimento de Sistemas (Conclusão em 2021)</li>
            <li>Especialista em TB – Instituto Presbiteriano Mackenzie – SP, conclusão em 2012.</li>
            <br>
            <h2>EXPERIÊNCIA PROFISSIONAL</h2>
            <hr>
            <li>2019-Atual – Solutis Tecnologias LTDA</li>
            <p>Cargo: Analista de Suporte Pleno.</p>
            <p>Principais atividades: Coordenação, Suporte e atendimento ao segundo nível (N2)</p>
            <br>

            <li>2001-2018 – Eletrobrás Furnas</li>
            <p>Cargo: Técnico de Processamento de Dados</p>
            <p>Principais atividades: Suporte técnico aos clientes; Implementação e controle de softwares</p>
            <p>em geral; Verificação e suporte ao Hardware; Coordenação de Central de Atendimento</p>
        </section>


    </main>
    <footer>

    </footer>
    
</body>
</html>