*{
    margin: 0;
    padding: 0;
}

:root{
    --primary: #3b4358;
    --secondary: #d0826e;
    --third: #dfe1e0;
}

.horizontal{
    line-height: 0;
    width: 100hv;
    height: -2px;
    border-style: solid;
    border-color: #d0826e var(--secondary) white var(--primary);
    border-width: 109px 1063px 292px 378px;
    z-index: 1;
    
}

.cont{
    display: flex;
}

.left-side{
    display: inline-table;
    background-color: #96ceb2;
    width: 200px;
    height: 100%;
    margin-top: -152px;
    text-align: center;
}