<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/curriculonew.css">
</head>
<body>
    <header>
        <div class="background-first">  
        </div>
        <div class="background-second">
            <img src="/images/jonatas.JPG">
            <h2>Jonatas Bento</h2>
            <h6>Fullstack Developer</h6>
            <br>
        </div>
    </header>
    <hr>
    <main>
        <div class="left-side">
            <h5>PROFILE</h5>
            <br>
            <p>I am a Fullstack Developer with a huge persistence to solve problems.</p>
            <br>
            <h5>SKILLS</h5>
            <br>
            <h6><strong>Coding Languages</strong></h6>
            <ul>
                <li>Java</li>
                <li>
                    HTML5
                </li>
                <li>
                    CSS
                </li>
                <li>Javascript</li>
            </ul>
            <br>
            <h5>CHARACTER REFERENCES</h5>
            <br>
            <h6><strong>Eletrobras-Furnas</strong></h6>
            <p>Twenty years serving this company as a Support Analyst</p>
            <br>
            
        </div>
        <div class="division"></div>
        <div class="right-side">
            <h5>EDUCATIONAL TRAINING</h5>
            <br>
            <p>Graduated in System Analysis and Development at UNESA</p>
            <p>Bachelor at STO</p>
            <p>TB Espcialist at Mackenzie-SP</p>
            <p>Master in Hermeneutics at Mackenzie-SP</p>
            <br>
            <h5>CAREER SUMMARY</h5>
            <br>
            <p>I worked at Eletrobras for twenty years giving Support at IT department.</p> 
            <p>Now, I am responsible for the team of Support. </p>
            <br>
            <h5>HOW TO REACH ME</h5>
            <br>
            <p>Av. Vice Pres. Jose Alencar, 1400 - Reno - 508.</p>
            <p>Email: pr.jmbento@outlook.com</p>
            <p>Cel: 21-981807997</p>
        </div>
    </main>
</body>
</html>